finn_riscv_1.0.zip
*.jou
*.log
__pycache__
*.sv
projeto_teste
.Xil
*.tcl
hls_teste
/projeto_hls_teste
/test_IPs/export
/teste_hls
/hls_sources
/hls_sources
/IPs/Feeder_ips/feeder_21b/Nexys4/ip_bkp
/IPs/Feeder_ips/finn_feeder_21b_16/Nexys4/ip (copy)
